@model ErrorViewModel
@{
    Context.Response.StatusCode = Model.StatusCode;
    switch (Context.Response.StatusCode)
    {
        case 404:
            ViewData["Title"] = "404: Resource Not Found.";
            break;
        case 500:
            ViewData["Title"] = "500: Server error.";
            break;
        default:
            ViewData["Title"] = Context.Response.StatusCode + ": Error";
            break;
    }
}
<div class="text-center text-lg-center">
    <h2>@ViewData["Title"]</h2>
    <a id="" class="btn btn-success" href="/" role="button">Back to home</a>
</div>
@if (Model.ShowRequestId)
{
    <div class="text-center">
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    </div>

}
<pre>@Model.Path</pre>    