<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="h:\root\home\roki1336-001\www\sellcars\logs\nlog-internal.log">

	<targets>

		<target name="database" xsi:type="Database"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				commandType="Text">
			<connectionString>
				Server=tcp:{database-server-name}.SQL8004.site4now.net,1433;
				Initial Catalog={database-name};
				Persist Security Info=False;
				User ID={username};
				Password={password};
				MultipleActiveResultSets=False;
				Encrypt=True;
				TrustServerCertificate=False;
				Connection Timeout=30;
			</connectionString>
			<commandText>
				INSERT INTO dbo.Logs (
				MachineName,
				Logged,
				Level,
				Message,
				Logger,
				Callsite,
				Exception,
				EventProperties
				) VALUES (
				@MachineName,
				@Logged,
				@Level,
				@Message,
				@Logger,
				@Callsite,
				@Exception,
				@EventProperties
				);
			</commandText>
			<parameter name="@MachineName" layout="${machinename}"/>
			<parameter name="@Logged" layout="${longdate:universalTime=true}"/>
			<parameter name="@Level" layout="${level:upperCase=true}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Logger" layout="${logger}"/>
			<parameter name="@Callsite" layout="${callsite}"/>
			<parameter name="@Exception" layout="${exception:tostring}"/>
			<parameter name="@EventProperties">
				<layout type="xsi:JsonLayout" maxRecursionLimit="1" escapeForwardSlash="false"
						includeAllProperties="true"
						includeMdlc="true"
						excludeProperties="MS_OperationContext,MS_IgnoreActivity,MS_TriggerDetails"/>
			</parameter>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="database"/>
	</rules>

</nlog>