<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="${tempdir}/Logs/SellCar/nlog-internal.log">


	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<variable name="logDirectory" value="${tempdir:dir=/Logs/SellCar}"/>

	<targets>

		<target name="jsonFile" xsi:type="File"
				fileName="${logDirectory}/logs.json"
				archiveFileName="${logDirectory}/logs.{##}.json"
				archiveNumbering="Rolling"
				archiveAboveSize="10000000"
				maxArchiveFiles="10">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate:universalTime=true}"/>
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="threadId" layout="${threadid}"/>
				<attribute name="logger" layout="${logger}"/>
				<attribute name="message" layout="${message}"/>
				<attribute name="exception" layout="${exception:format=@}" encode="false"/>
				<attribute name="eventProperties" encode="false">
					<layout type="JsonLayout" maxRecursionLimit="2" renderEmptyObject="false"
							includeAllProperties="true" includeMdlc="true"/>
				</attribute>
			</layout>
		</target>

		<target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
			<property name="ThreadId" value="${threadid}" as="number"/>
			<property name="Logger" value="${logger}"/>
		</target>

		<target name="database" xsi:type="Database"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				commandType="Text">
			<connectionString>
				Server=.;
				Initial Catalog=SellCar;
				Integrated Security=True;
				MultipleActiveResultSets=False;
				Trusted_Connection=True;
			</connectionString>
			<commandText>
				INSERT INTO dbo.Logs (
				MachineName,
				Logged,
				Level,
				Message,
				Logger,
				Callsite,
				Exception,
				EventProperties
				) VALUES (
				@MachineName,
				@Logged,
				@Level,
				@Message,
				@Logger,
				@Callsite,
				@Exception,
				@EventProperties
				);
			</commandText>
			<parameter name="@MachineName" layout="${machinename}"/>
			<parameter name="@Logged" layout="${longdate:universalTime=true}"/>
			<parameter name="@Level" layout="${level:upperCase=true}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Logger" layout="${logger}"/>
			<parameter name="@Callsite" layout="${callsite}"/>
			<parameter name="@Exception" layout="${exception:tostring}"/>
			<parameter name="@EventProperties">
				<layout type="xsi:JsonLayout" maxRecursionLimit="1" escapeForwardSlash="false"
						includeAllProperties="true"
						includeMdlc="true"
						excludeProperties="MS_OperationContext,MS_IgnoreActivity,MS_TriggerDetails"/>
			</parameter>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="jsonFile, seq, database"/>
	</rules>
</nlog>