<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-1">401</h1>
                <p class="lead">Unauthorized</p>
                <p>You are not authorized to access this resource !</p>
                <a href="/">
                    <i class="fas fa-arrow-left mr-1"></i>
                    Back to home page
                </a>
            </div>
        </div>
    </div>
</div>