body {
    background-color: #F7F7F9;
}

.markalar .list-group {
    height: 330px;
}

.navbar {
    background-color: #111d5e;
}

.filterbtn {
    width: 100%;
    background-color: #3e4149;
    color: azure;
}

    .filterbtn:hover {
        color: #3e4149;
        background-color: #c9d6df;
    }

#car .card-notify-year {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #4caf50;
    border-radius: 50%;
    text-align: center;
    color: azure;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}

#car .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#markalar .card:hover {
    background: #fff;
    box-shadow: 6px 7.5px 10px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

footer ul li {
    margin-top: 3.5px;
}

.carousel-indicators {
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .carousel-indicators > li {
        width: 60px
    }

    .carousel-indicators li img {
        display: block;
        opacity: 0.5
    }

    .carousel-indicators li.active img {
        opacity: 1
    }

    .carousel-indicators li:hover img {
        opacity: 0.75
    }

.carousel-item img {
    width: 100%
}

.tab-content {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}

.badge {
    background-color: #52616b;
}


comparison-table {
    width: 100%;
    font-size: .875rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}



.comparison-table .comparison-item {
    position: relative;
    padding: .875rem .75rem 1.125rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: center
}

    .comparison-table .comparison-item .comparison-item-thumb {
        display: block;
        width: 5rem;
        margin-right: auto;
        margin-bottom: .75rem;
        margin-left: auto
    }

        .comparison-table .comparison-item .comparison-item-thumb > img {
            display: block;
            width: 100%
        }

    .comparison-table .comparison-item .comparison-item-title {
        display: block;
        width: 100%;
        margin-bottom: 14px;
        color: #222;
        font-weight: 600;
        text-decoration: none
    }

    .comparison-table .comparison-item .remove-item {
        position: absolute;
        right: -8px;
        top: -7px;
        background: red;
        border-radius: 50%;
        color: azure;
        font-size: 10px;
        width: 25px;
        height: 25px;
    }

        .comparison-table .comparison-item .remove-item .feather {
            width: .875rem;
            height: .875rem
        }

.carousel-inner img {
    width: 100%;
    height: 100%;
}
