<footer class="pt-4 md-5 pt-md-5 border-top my-4">
    <div class="row">
        <div class="col-lg-3 col-md-12  text-center mb-3">
            <a id="" class="btn btn-success" href="" role="button">Post a Free Ad</a>
        </div>
        <div class="col-lg-3 col-md-3  text-center">
            <h5>Institutional</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">about us</a></li>
                <li><a class="text-muted" href="#">Human Resources</a></li>
                <li><a class="text-muted" href="#">News</a></li>
                <li><a class="text-muted" href="#">Communication</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <h5>Privacy and Usage</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Safe Shopping Tips</a></li>
                <li><a class="text-muted" href="#">Contracts and Rules</a></li>
                <li><a class="text-muted" href="#">Membership Agreement</a></li>
                <li><a class="text-muted" href="#">Terms of Use</a></li>
                <li><a class="text-muted" href="#">Protection of Personal Data</a></li>
            </ul>
        </div>
    </div>
</footer>