@model SellCar.Domain.Models.Ads
<div class="card rounded mb-2" >
    <div class="card-image">
        <span class="card-notify-year">@Model.DateCreate</span>
        <a href="/car/details/@Model.Id">
            
        </a>
    </div>
    <div class="card-body">
        <h6 style="text-align: left;">@Model.CarId</h6>
        @if (Model.Description == null)
        {
            <p class="text-muted">There are no advertisement details about the vehicle.</p>
        }
        else
        {
            <p class="text-muted">@Html.Raw(Model.Description.Substring(0, 15) + "...")</p>
        }
        <div class="text-right">
            <strong>@Model.price.ToString("c")</strong>
        </div>
    </div>
</div>