@model List<SellCar.Domain.Models.Car>
<div class="bg-light border-right markalar  ">
    <div class="sidebar-heading"><strong><a href="/cars" class="text-decoration-none">Brands</a></strong></div>
    <div class="list-group list-group-flush overflow-auto ">
        @foreach (var car in Model)
        {
            <a href="/cars/@car.Brand" class="list-group-item list-group-item-action bg-light">@car.Model<span class="text-muted"> (@car.TypeCar)</span></a>
        }
    </div>
</div>
