<div class="container">
    <h3 class="mt-1">My Ads</h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group list-group-flush sticky-top shadow mb-3">
                <a href="/user/profile" class="list-group-item list-group-item-action "><i class="fas fa-angle-double-right mx-1 "></i>My Profile</a>
                <a href="/User/stats" class="list-group-item list-group-item-action active "><i class="fas fa-angle-double-right mx-1"></i>Stats</a>
                <a href="/user/Ads" class="list-group-item list-group-item-action "><i class="fas fa-angle-double-right mx-1 "></i>My Published Ads</a>
                <a href="/user/FavAds" class="list-group-item list-group-item-action"><i class="fas fa-angle-double-right mx-1"></i>My Favorite Ads</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card h-100 ">
                        <div class="card-body bg-secondary text-white">
                            <div class="row h-100">
                                <div class="col-md-3">
                                    <i class="far fa-newspaper fa-5x"></i>
                                </div>
                                <div class="col-md-9 text-right">
                                    <h1>@ViewBag.NumAds</h1>
                                    <h4>Number of ads on the site</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body bg-secondary text-white">
                            <div class="row h-100">
                                <div class="col-md-3">
                                    <i class="far fa-thumbs-up fa-5x"></i>
                                </div>
                                <div class="col-md-9 text-right">
                                    <h1>@ViewBag.favs</h1>
                                    <h4>Number of Favorite Ads</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

