@model SellCar.Domain.ViewModels.Account.LoginViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}

<div style="padding: 40px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center ParagraphHome">Login</h3>
                        </div>
                        <div class="card-body">
                            <form autocomplete="on" method="post" asp-controller="Account" asp-action="Login">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <input asp-for="Name" placeholder="Login" class="form-control textbox-dg font-weight-bold text-center" type="text">
                                    <div class="form-text">Login length must be from 3 to 20 characters.</div>
                                </div>
                                <div class="form-group">
                                    <input autocomplete="new-password" asp-for="Password" placeholder="Password" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <div class="d-grid gap-2 d-md-block float-right">
                                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary" type="button">Registration</a>
                                    <button class="btn btn-success">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
